<div>
    <table>
        <tr>
            <td>Delimiter</td>
            <td><input id="txtSeparator" type="text" maxlength="2" /></td>
        </tr>
        <!--<tr>
            <td>Quote</td>
            <td><input id="txtQuote" type="text" maxlength="2" /></td>
        </tr>-->
        <tr>
            <td>Decimal separator</td>
            <td><input type="radio" name="decSep" value="." id="decDot" />Dot
            <input type="radio" name="decSep" value="," id="decComma" />Comma </td>
        </tr>
        <tr>

            <td>Thousands separator</td>
            <td>
                <input id="thoNo" type="radio" name="thoSep" value="" />No separator
                <input id="thoComma"  type="radio" name="thoSep" value="," />Comma
                <input id="thoDot" type="radio" name="thoSep" value="." />Dot
            </td>
        </tr>
        <!--<tr>
            <td>Trim</td>
            <td><input id="chkTrim" type="checkbox" /></td>
        </tr>-->
    </table>
    <div id="divPreviewArea"></div>
</div>